/*                  REGISTER PAGS               */

.register-body {
    margin: 0;
    padding: 0;
    background: #f0f8ff; /* Azul claro */
    
}

.register-form {
    background-color: #ffffff; /* Blanco puro */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-title {
    color: #003366; /* Azul marino oscuro */
    font-weight: bold;
}

.submit-button{
    background-color: #003366;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.drop-area{
    border: 5px dashed #ddd;
    padding: 10px 0;
    width: 40%;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.drop-area.active{
    background-color: #b8d4fe;
    color: black;
    border: 2px dashed #618ac9;
}

.drop-area h2{
    font-size: 26px;
    font-weight: 500;
    color: #000;
}

.drop-area span{
    font-size: 25px;
    color: #000;
    font-weight: 500;

}

.drop-area button{
    padding: 8px 20px;
    font-size: 18px;
    border: 0;
    outline: none;
    background-color: #5256ad;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}

.file-container{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: solid 1px #ddd;
}

#preview{
    margin-top: 10px;
}