<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    lang="en"
    >
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register User</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
    <body>
        <div class="container p-4">
      <h1 class="text-center mt-3">Register User</h1>
      <form action="#" class="text-center m-5 p-4">
        <div class="row justify-content-center mb-4">
          <div
            class="form-group col-12 col-lg-6 row align-items-center mb-4 mb-lg-0"
          >
            <label class="col-sm-3 col-lg-3 col-form-label text-md-end text-start" for="name"
              >Name:
            </label>
            <div class="col-sm-9 col-md-6 col-lg-8">
              <input class="form-control" type="text" id="name" name="name" />
            </div>
          </div>
          <div
            class="form-group col-12 col-lg-6 row align-items-center mb-lg-0"
          >
            <label
              class="col-sm-3 col-lg-3 col-form-label text-md-end text-start"
              for="lastname"
              >Lastname:
            </label>
            <div class="col-sm-9 col-md-6 col-lg-8">
              <input
                class="form-control"
                type="text"
                id="lastname"
                name="lastname"
              />
            </div>
          </div>
        </div>
        <div class="row justify-content-center mb-4">
          <div
            class="form-group col-12 col-lg-6 row align-items-center mb-4 mb-lg-0"
          >
            <label class="col-sm-3 col-lg-3 col-form-label text-md-end text-start" for="username"
              >Username:
            </label>
            <div class="col-sm-9 col-md-6 col-lg-8">
              <input class="form-control" type="text" id="username" name="username" />
            </div>
          </div>
          <div
            class="form-group col-12 col-lg-6 row align-items-center mb-lg-0"
          >
            <label
              class="col-sm-3 col-lg-3 col-form-label text-md-end text-start"
              for="email"
              >Email:
            </label>
            <div class="col-sm-9 col-md-6 col-lg-8">
              <input
                class="form-control"
                type="email"
                id="email"
                name="email"
              />
            </div>
          </div>
        </div>
        <div class="row justify-content-center mb-4">
          <div
            class="form-group col-12 col-lg-6 row align-items-center mb-4 mb-lg-0"
          >
            <label class="col-sm-3 col-lg-3 col-form-label text-md-end text-start" for="password"
              >Password:
            </label>
            <div class="col-sm-9 col-md-6 col-lg-8">
              <input class="form-control" type="password" id="password" name="password" />
            </div>
          </div>
          <div
            class="form-group col-12 col-lg-6 row align-items-center mb-lg-0"
          >
            <label
              class="col-sm-3 col-lg-3 col-form-label text-md-end text-start"
              for="repeatPassword"
              >Repeat Password:
            </label>
            <div class="col-sm-9 col-md-6 col-lg-8">
              <input
                class="form-control"
                type="password"
                id="repeatPassword"
                name="repeatPassword"
              />
            </div>
          </div>
        </div>
        <div class="row justify-content-center mb-4">
          <div
            class="form-group col-12 col-lg-6 row align-items-center mb-4 mb-lg-0"
          >
            <label class="col-sm-3 col-lg-3 col-form-label text-md-end text-start" for="DOB"
              >Date of Bird:
            </label>
            <div class="col-sm-9 col-md-6 col-lg-8">
              <input class="form-control" type="text" id="DOB" name="DOB" />
            </div>
          </div>
          <div
            class="form-group col-12 col-lg-6 row align-items-center mb-4 mb-lg-0"
          >
            <label
              class="col-sm-3 col-lg-3 col-form-label text-md-end text-start"
              for="NIC"
              >NIC:
            </label>
            <div class="col-sm-9 col-md-6 col-lg-8">
              <input
                class="form-control"
                type="text"
                id="NIC"
                name="NIC"
              />
            </div>
          </div>
        </div>
      </form>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
